.container {
  margin-top: 2rem;
}

.question {
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.3);

  & .question__id {
    font-size: .9rem;
    font-weight: 500;
  }

  & .question__name {
    font-size: 2rem;
    font-weight: 600;
  }
}

.tags-list {
  font-size: .9rem;
  list-style: none;
  padding: 0;

  & ion-badge {
    font-weight: 500;
    border-radius: 4px;
  }

  & li {
    display: inline-block;

    &:nth-child(n) {
      margin-right: .5rem;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.progress-wrapper {
  padding: 1rem;

  ion-progress-bar {
    border-radius: 5px;
    height: 1rem;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  padding: 1rem;

  & ion-button {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .question__name {
    font-size: 1.8rem !important;
  }
}
