.tags {
  list-style: none;
  padding: 0;

  & li {
    display: inline-block;

    & ion-badge {
      font-size: 1rem;
    }

    &:nth-child(n) {
      margin-right: .5rem;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.progress-wrapper {
  padding: 1rem;

  ion-progress-bar {
    height: .5rem;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  padding: 1rem;

  & ion-button {
    flex: 1;
  }
}
