<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Questions list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Questions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let question of questions" button (click)="clickOnQuestion(question)" detail>
    <ion-label>{{ question.id }}. {{ question.name }}</ion-label>
    <ion-badge [color]="getPercentById(question.id) < 33 && 'danger' || getPercentById(question.id) < 66 && 'warning' || 'success'" slot="end">{{ getPercentById(question.id) }}%</ion-badge>
  </ion-item>
</ion-content>
