<ion-header>
  <ion-toolbar>
    <ion-title>Вопрос №{{ question?.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="content">{{ question?.name }}</h1>

  <ion-list>
    <ion-item *ngFor="let step of question?.structure">
      <ion-label>{{ step?.name }}</ion-label>
      <ion-checkbox [(ngModel)]="step.isChecked" slot="end" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>

  <div class="button-block">
    <ion-button (click)="saveResult()" size="large" color="success">
      <ion-icon slot="start" name="star"></ion-icon>
      Сохранить результат
    </ion-button>
  </div>
</ion-content>
