<ion-header>
  <ion-toolbar>
    <ion-title>Answer for question №{{ question?.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="content">{{ question?.name }}</h1>

  <ion-list>
    <ion-item *ngFor="let step of question?.structure">
      <ion-label>{{ step?.name }}</ion-label>
      <ion-checkbox [(ngModel)]="step.isChecked" slot="end" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>

  <br>

  <ion-button (click)="saveResult()" color="tertiary" fill="outline" expand="block" size="large">
    Save result
  </ion-button>
</ion-content>
