<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" shape="round" size="small" slot="start" (click)="backToPreviousPage()">
      <ion-icon slot="icon-only" ios="arrow-back-outline" md="arrow-back-sharp"></ion-icon>
    </ion-button>
    <ion-title>Статистика</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="results">
    <p class="results__top">Процент твоих правильных ответов:</p>
    <div class="results__score">
      {{ avPercent }} <span class="results__percent">%</span>
    </div>
  </section>
</ion-content>
