<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button fill="clear" shape="round" slot="end" (click)="clearStorage()">
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-info">
    <ion-avatar class="profile-info__avatar" [ngClass]="{'not-displayed': !imgLoaded}">
      <img [src]="profile.avatarUrl" (load)="onImageLoad()">
    </ion-avatar>
    <div *ngIf="!imgLoaded">
      <ion-avatar class="profile-info__avatar">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
    </div>
    <ion-text color="primary">
      <h1>{{ profile.username }}</h1>
    </ion-text>
  </div>

  <ion-item>
    <ion-label>Progress</ion-label>
    <span slot="end">{{ avPercent }}%</span>
  </ion-item>
  <ion-item>
    <ion-label>App version</ion-label>
    <span slot="end">{{ appVersion }}</span>
  </ion-item>
  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select placeholder="Select theme" [(ngModel)]="currentTheme">
      <ion-select-option value="light">Light</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
