.profile-info {
  padding: 1rem;
  text-align: center;

  &__avatar {
    margin: auto;
    width: 50vw;
    max-width: 300px;
    height: 50vw;
    max-height: 300px;
  }
}

.not-displayed {
  display: none;
}
